<div class="banner">
  <div class="content">
    <h1 class="mb-5">Freesh Cooked Food <br/> At Your's Door Bithcess....</h1>
    <a href="" routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
  </div>
</div>
<div class="container mt-5 mb-4">
  <h1 class="text-center">how to get fresh food</h1>
  <div class="row">
    <!-- one -->
      <div class="col lg-4">
        <div class="stepBox">
          <h1>1</h1>
          <p>Select Food</p>
        </div>
    </div>
<!-- two -->
    <div class="col lg-4">
      <div class="stepBox">
      <h1>2</h1>
      <p>fill the details</p>
      </div>
    </div>
    <!-- three -->
    <div class="col lg-4">
      <div class="stepBox">
      <h1>3</h1>
      <p>Your Order Deliver In Minute</p>
      </div>
    </div>

  </div>
</div>
